# Virtual env
practice_env/
__pycache__/
*.pyc

# Data (too big for git)
data/
# data/processed/*
# data/submissions/*
# !data/raw/.gitkeep
# !data/processed/.gitkeep

# Models (often large)
models/*.pkl
models/*.joblib

# Notebooks checkpoints
.ipynb_checkpoints/

# Environment variables
.env
# IDE
.vscode/
.idea/

# Logs
logs/*.log